.GameLayer {
    height: 100vh;
    width: 100vw;
    position: relative;
    bottom: 300vh;
    pointer-events: none;
}

.GameFrame {
    height: 100%;
    width: 100%;
}

.CloseButton {
    height: 4.5rem;
    width: 4.5rem;
    position: relative;
    bottom: 100vh;
    margin-top: 2rem;
    left: 5vw;
    font-family: 'Nunito', sans-serif;
    text-shadow: -3px 4px 5px rgba(30, 30, 30, 0.6);
    cursor: pointer;
    pointer-events: all;
    display: flex;
    font-size: 6rem;
    font-weight: 700;
    color: rgba(248, 252, 253, 0.85);
    line-height: 2rem;
}