.BlockPicker {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.PickerView {
    /* width: 90%;
    height: 90%; */
    background: rgb(230,230,250);
    margin: auto;
}

