.dialogBox {
    margin: auto;
    margin-top: 26vh;
    display:flex;
    border: solid 2px rgba(80, 100, 160, 0.95);
    overflow:hidden;
    flex-direction: column;
    height: auto;
    width: 14rem;
    background: rgba(240, 245, 250, 0.95);
}

.dialogHead {
    width: 100%;
    height: 0.8rem;
    font-size: 0.8rem;
    padding: 0.2rem;
    text-align: center;
    border-bottom: solid 2px rgba(80, 100, 160, 0.2);
    background: rgba(120, 130, 200, 0.95);
    color: rgba(240, 245, 250, 0.95);
}

.dialogMessage {
    padding-top: 0.4rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    margin: 0.5rem 0.8rem;
    color: rgba(30, 30, 30, .95);
    width: 12rem;
    height: auto;
}

.dialogResponse {
    height: 2rem;
    width: 100%;
    background: rgba(160, 165, 170, 0.95);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dialogYes, .dialogNo {
    width: 4rem;
    height: 1.2rem;
    background: rgba(220, 225, 240, 0.95);
}

.dialogYes:hover, .dialogNo:hover {
    background: rgba(250, 255, 250, 0.95);
}