.Utilities {
    height: 25%;
    width: 100%;
    display: flex;
    
}

.SaveButton , .NewButton, .LaunchGameButton {
    height: 2.4rem;
    width: 2.4rem;
    overflow: hidden;
    margin:.5rem;  
    cursor: pointer;
}

.SaveButton {
    background: url('./disk_save.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.NewButton {
    background: url('./blue-plus-sign-md.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.LaunchGameButton {
    background: url('./noun_joystick_22520.svg');
    background-color: rgb(98, 163, 224);
    background-size: 100%;
    background-repeat: no-repeat;
}
